.ghostBox{
    background-color: lightgray;
    border-style: dashed;
    border-width: 0.5em;
    border-color: gray;
}

h1{
    font-family: 'October Crow';
    src: url('font/OctoberCrow.tiff') format('tiff');
}