/*
    Page styles
*/
@font-face{
    src: url(../font/OctoberCrow.ttf);
    font-family: crow;
}

@font-face{
    src: url(../font/GentiumBasic-Regular.ttf);
    font-family: gentium;
}

body{
    background-color: black;
    color: white;
    font-size: 1.5em;
    font-family: gentium;
}

h1{
    font-family: crow;
    font-size: 4em;
    text-align: center;
}

h2{
    font-family: crow;
    font-size: 2em;
    text-align: center;
}

.mainHeader{
    margin: 20px 0px;
    text-align: center;
}

.leftCol{
    border: 5px solid red;
}

.rightCol{
    border: 5px solid red;
}



/* Button styles */
.crossed{
    text-decoration: line-through;
}







/*
    ID styles


#ev1, #ev2, #ev3{
    font-size: large;
    margin: 20px 0px 50px 0px;
}

#posEvidence{
    margin: 10px 5px 30px 5px;
}
*/

/*
    Class styles


.evHeader{
    display: inline-block;
}

.mainHeader{
    margin: 20px 0px;
    text-align: center;
}

.col{
    background-color: #1A1A1A;
    border: 5px solid darkcyan;
}

.card{
    background-color: #3A3A3A;
    font-size: 0.75em;
    /*display: inline-block;
}

.card .list-group-item{
    font-size: 0.8em;
    color: white;
}

.moreInfoBTN{
    margin-top: 10px;
}*/